
.icon-item {
  width: 48px;
  height: 48px;
  /* background: #000; */
  border-radius: 8px;
  cursor: pointer;
  padding: 6px;
}

.icon-item img {
  width: 100%;
  height: 100%;
filter: brightness(0); /* ดำสนิท */
}

.icon-item.active ,.icon-item:hover{
  background-color: #0066ffdf;
}

/* From Uiverse.io by KSAplay */ 
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  width: 500px;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  transition: 100ms ease;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 4px;
}

/* ---------- Info section ---------- */

.info-section {
  /* position: relative; */
  display: flex;
  padding: 5px;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* width: 100%; */
  overflow-y: auto; 
  height: 75%;
    color: black;
}

.left-side {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
  /* flex-direction: column; */
  /* justify-content: space-around; */
  /* height: 100%; */
  /* width: 100%;  */
  z-index: 1;
  /* padding-left: 18px; */
}

button {
  display: block;
  border: none;
  background: transparent;
}





/* ---------- Background ---------- */


/* ---------- Days section ---------- */
.days-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25%;
  background-color: #ffffff;  
  gap: 2px;
  box-shadow: inset 0px 2px 5px #699dd8;
    color: white
}
.days-section .active {
  background-color: #ffffff;  
  box-shadow: inset 0px 2px 5px #ffffff;
    font-weight: 700;
    color: black;

}

.days-section button {
  display: flex;  
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #9fccff;
  box-shadow: inset 0px 2px 5px #60a8fa;
  cursor: pointer;
  transition: 100ms ease;
  gap: 5px;
}

.days-section button:hover {
  scale: 0.9;
  border-radius: 10px;
}

.icon-weather-day {
  display: flex;
  align-items: center;
  width: 20px;
  height: 100%;
}

.selectIcon {
  color: rgb(68, 0, 0);
  /* padding: 2px 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  /* background-color: #9fccff; */
}

.selectIcon.active{
  /* color: red; */
  
  /* background-color: #60a8fa; */
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1; 
}
