.glass-panel-wallet {
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 30px;
  border-radius: 24px;

  background: linear-gradient(
    135deg,
    #e6f0ff,
    #f8ffe6
  );

  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.wallet-preview {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet-show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 300px;
  height: 180px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);

}

.wallet-show img.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wallet-show .layer.logo {
  width: 10%;
  height: auto;
  position: absolute;
  z-index: 5;
  left: 45%;
  top: 50%;
}
.wallet-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;  /* ปรับตามต้องการ */
  height: auto;
}
.wallet-accent, .wallet-secondary {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 20px;
}
/* Tabs */
.wallet-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* Color picker */
.wallet-picker {
  background: #ffffff;
  padding: 16px;
  border-radius: 16px;

  display: grid;
  grid-template-columns: repeat(5, 2fr);
  padding: 2% 7%;
  max-height: 300px;
  overflow-y: auto;
  gap: 20px;
  justify-content: flex-start;
}

.wallet-picker img,.card img{
  width: 80%;
}

/* From Uiverse.io by KSAplay */ 
.wallet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 500px; */
  /* width: 500px; */
  border-radius: 25px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  transition: 100ms ease;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 4px;
}

/* ---------- Info section ---------- */

.picker-section {
  /* position: relative; */
  display: flex;
  padding: 5px;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* width: 100%; */
  overflow-y: auto; 
  height: 75%;
    color: black;
}
button {
  display: block;
  border: none;
  background: transparent;
}



/* ---------- Days section ---------- */
.tap-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25%;
  background-color: #ffffff;  
  gap: 2px;
  box-shadow: inset 0px 2px 5px #699dd8;
    color: white
}

button.active .wallet-picker-img {
  box-shadow: 0 4px 10px rgba(249, 249, 249, 0.25);
  border-radius: 8px;
  background-color: #e5e9f09c;
}


.tap.active {
  background-color: #ffffff;  
  box-shadow: inset 0px 2px 5px #ffffff;
    font-weight: 700;
    color: black;

}

.tap-section button {
  display: flex;  
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #9fccff;
  box-shadow: inset 0px 2px 5px #60a8fa;
  cursor: pointer;
  transition: 100ms ease;
  gap: 5px;
}

.tap-section button:hover {
  scale: 0.9;
  border-radius: 10px;
}

.icon-weather-day {
  display: flex;
  align-items: center;
  width: 20px;
  height: 100%;
}

.selectIcon {
  color: rgb(68, 0, 0);
  /* padding: 2px 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  /* background-color: #9fccff; */
}

.selectIcon.active{
  /* color: red; */
  
  /* background-color: #60a8fa; */
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1; 
}
