.dtable{
    background-color: #ffffff;
    border-radius: 20px;
    height: 400px;
    padding: 0px 5px;
    overflow-y: auto;
    overflow-x: hidden;
    /* width: 100%; */
}

.home-table {
  width: 100%;
  margin: 5px;
}

.home-table tr {
    color: inherit;
}

.home-table th {
    position: sticky;
    top: 0; 
    color: #999; /* สีเทาอ่อน */
    font-weight: 500;
    text-align: left; 
    border: none; 
    font-size: 0.8em;
    z-index: 10;
    background-color: white;
}

.home-table td {   
    margin: 20px 0px;
    
    border-bottom: 1px solid #ddd; /* เส้นใต้แต่ละบรรทัด */
}

.home-table tr {
    font-size: 15px;
    border: 2px; /* **ลบเส้นขอบเซลล์ออกทั้งหมด** */
    padding: 10px 8px; 
    text-align: left; 
    /* color: #444; */
}


/* Sl.Number */
.home-table th:nth-child(1),
.home-table td:nth-child(1) {
  width: 5%;
  text-align: start ;
}

/* Date */
.home-table th:nth-child(2),
.home-table td:nth-child(2) {
  width: 10%;   /* จาก 10 → 13 */
  text-align: start;
}
/* Wallet */
.home-table th:nth-child(3),
.home-table td:nth-child(3) {
  width: 8%;
  text-align: start ;
}

/* Type */
.home-table th:nth-child(4),
.home-table td:nth-child(4) {
  width: 10%;
  text-align: start ;
}

/* Category */
.home-table th:nth-child(5),
.home-table td:nth-child(5) {
  width: 15%; /* ⭐ ให้พื้นที่พอสำหรับ icon + text */
  text-align: start ;
}

/* Note */
.home-table th:nth-child(6),
.home-table td:nth-child(6) {
  width: 29%;   /* จาก 32 → 29 */
  text-align: start;
}

/* Amount */
.home-table th:nth-child(7),
.home-table td:nth-child(7) {
  width: 10%;
  text-align: start;
}

.home-table th:nth-child(8),
.home-table td:nth-child(8) {
  width: 5%;
  text-align: start;
}


.glass-panel {

      /* ขนาดและระยะห่าง */
      width: 1000px;
      height: 500px;
      max-width: 1000px;    
      padding: 20px;
      padding-top: 20px;
      border-radius: 40px;
      display: flex;
      /* justify-content: center; */
      flex-direction: column; 
      gap: 10px;
      background: rgba(255, 255, 255, 0.759);
      /* เอฟเฟกต์เบลอพื้นหลัง */
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px); /* สำหรับ Safari */

      /* เส้นขอบใสๆ */
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
      /* color: #333; */
      text-align: center;

  }