.dtable{
    background-color: #ffffff;
    border-radius: 20px;
    height: 400px;
    padding: 0px 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.category-table {
  width: 100%;
  margin: 5px;
}

.category-table tr {
  color: inherit;
}

.category-table th {
  position: sticky;
  top: 0; 
  color: #999; 
  font-weight: 500;
  text-align: left; 
  border: none; 
  font-size: 0.8em;
  z-index: 10;
  background-color: white;
}

.category-table td {    
  margin: 20px 0px;
  border-bottom: 1px solid #ddd; 
}

.category-table tr {
  font-size: 15px;
  border: 2px; 
  padding: 10px 8px; 
  text-align: left; 
}

.category-table .but{
    display: flex;
    gap: 10px;
}

/* Sl.Number */
.category-table th:nth-child(1),
.category-table td:nth-child(1) {
  width: 5%;
  text-align: start;
}

/* Date */
.category-table th:nth-child(2),
.category-table td:nth-child(2) {
  width: 15%;
  text-align: start;
}

/* Name */
.category-table th:nth-child(3),
.category-table td:nth-child(3) {
  width: 20%;
  text-align: start;
}

/* Description */
.category-table th:nth-child(4),
.category-table td:nth-child(4) {
  width: 40%;
  text-align: start;
  word-wrap: break-word;
  white-space: normal;
}

/* Button */
.category-table th:nth-child(5),
.category-table td:nth-child(5) {
  width: 20%;
  text-align: center;
}

.toggle-container {
  align-self: flex-start;
  padding: 1% 13%;
}

.toggle.neo-btn {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 14px;
}

.toggle .button {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #eaeaea;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.25s ease;
  box-shadow:
    0 10px 25px -4px rgba(0, 0, 0, 0.5),
    inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2),
    0 -10px 15px -1px rgba(255, 255, 255, 0.6),
    inset 0 3px 4px -1px rgba(255, 255, 255, 0.2);
}

.toggle .label {
  font-size: 32px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
}

.toggle.neo-btn:hover .button {
  transform: translateY(-2px);
}

.toggle.neo-btn:active .button {
  transform: scale(0.95);
}

.toggle h2 {
  font-size: 18px;
  font-weight: 600;
}

.hidden-box {
  padding: 20px;
  background: white;
  border-radius: 12px;
  display: flex;
  /* flex-direction: column; */
  gap: 10px;

}

.edit-color{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: column;
  max-width: min-content;
  gap: 20px;
}

.edit-input{
    max-width: min-content;

}

.hidden-box{
  display: inline-flex;
}
/* From Uiverse.io by KSAplay */ 
.card {
  display: flex;
  flex-direction: column;
  text-align: start;
  
  /* align-items: center; */
  height: 180px;
  width: 100%;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  overflow: auto;
  transition: 100ms ease; 
  box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 4px;
}

/* ---------- Info section ---------- */

.info-section {
  display: flex;
  padding: 5px;
  overflow-y: auto; 
  height: 75%;
    color: black;
}

.left-side {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
  z-index: 1;
}

button {
  display: block;
  border: none;
  background: transparent;
}





/* ---------- Background ---------- */


/* ---------- Days section ---------- */
.days-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25%;
  background-color: #ffffff;  
  gap: 2px;
  box-shadow: inset 0px 2px 5px #699dd8;
    color: white
}
.days-section .active {
  background-color: #ffffff;  
  box-shadow: inset 0px 2px 5px #ffffff;
    font-weight: 700;
    color: black;

}

.days-section button {
  display: flex;  
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #9fccff;
  box-shadow: inset 0px 2px 5px #60a8fa;
  cursor: pointer;
  transition: 100ms ease;
  gap: 5px;
}

.days-section button:hover {
  scale: 0.9;
  border-radius: 10px;
}

.icon-weather-day {
  display: flex;
  align-items: center;
  width: 20px;
  height: 100%;
}

.selectIcon {
  color: rgb(68, 0, 0);
  /* padding: 2px 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  /* background-color: #9fccff; */
}

.selectIcon.active{
  /* color: red; */
  
  /* background-color: #60a8fa; */
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1; 
}


