.wallet-list {
  display: grid;
   grid-template-columns: auto auto auto;
  gap: 16px;
}

.wallet-item {
  background: rgba(255,255,255,0.1);
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.2s;
  
}

.wallet-item:hover {
  transform: translateY(-4px);
}

.wallet-show.small {
  width: 200px;
  height: 120px;
  margin: auto;
  position: relative;
}

.wallet-info {
  display: inline-block;
  margin-left: 20%;
  margin-top: 8px;
}

.wallet-info h3{
  font-weight: bold;
}