@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* Container */
.hamburger-container {
    position: relative;
    font-family: "Quicksand", sans-serif !important;
}

/* Hamburger icon */
.hamburger {
  position: fixed;
  top: 20px;
  left: 20px; /* ติดขอบ sidebar */
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 200;
  transition: 0.50s ease;
}

.hamburger.open {
  left: 250px; /* <<< อยู่ชิด sidebar */
}

.hamburger span {
  width: 100%;
  height: 4px;
  background: #333;
  border-radius: 4px;
  transition: 0.3s ease;
}

/* Transform to X */
.hamburger.open span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.sidebar{    
        font-family: "Quicksand", sans-serif !important;
    background-color: rgba(255, 255, 255, 0.683);
    position: fixed;
    top: 0;
    left: -240px;         /* ซ่อน Sidebar */
    width: 240px;
    height: 100vh;

    display: flex;
    flex-direction: column;  
    align-items: center;   
    
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    padding-top: 70px;
    transition: 0.5s ease;
    z-index: 150;
}   

.sidebar.show {
  left: 0;
}


.b1 img{
    width: 30px;
    height: auto;
    max-width: 100%;   /* ป้องกันไม่ให้ล้น */
    object-fit: contain;
    flex-shrink: 0;    /* <<< ไม่ให้โดนบีบโดย flex */
}
.b1 {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 5px;
    padding: 8px 16px;
    border-radius: 20px;
    color: black;
    background: none;
    border: none; 
}
.b1:hover {
    background: linear-gradient(-90deg, #0068FF, #3E8FFF, #0068FF);
    color: white;
}